# Vivado 프로젝트 생성 결과물
Balacing_Robot/
*.jou
*.log
*.str

# 합성/구현 결과물
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.gen/

# 프로젝트 파일 (TCL로 재생성)
*.xpr

# 체크포인트
*.dcp

# 비트스트림
*.bit
*.bin

# 리포트 파일
*.rpt
*.rpx
*.pb

# 기타 Vivado 생성 파일
*.lpr
*.vdi
*.vds
*.wdf
*.wpc
*.xml
*.htr
*.js
*.sh
*.bat
runme.*
rundef.*
*.backup.jou
.Xil/

# 백업 파일
*.bak

#클로드
CLAUDE.md
